// sass-documentation-colors variable
$blue: blue !default;
$green: green !default;
$red: red !default;
$darkorange: darkorange !default;
$yellow: yellow !default;
$gray: gray !default;
$darkmagenta: darkmagenta !default;
$white: white !default;
$black: black !default;

//  colors
$colors: ("primary":$blue,
  "success":$green,
  "danger":$red,
  "darkorange":$darkorange,
  "warning":$yellow,
  "darkmagenta":$darkmagenta);


